:root{
    --textcolor: white;
}

header {
    display: flex;
    align-items: center;
    color: red;
    text-align: center;
    display: inline;
}

nav{
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: grey;
}

nav a{
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    color:var(--textcolor);
    font-size: 1.5rem;
    justify-content: space-between;
}

nav p{
    color: black;
    text-align: right;   
    font-size: 1.5rem;
}

.main{
    display: block;
    text-align: center;
    flex-wrap: wrap;
    color: blue;
}

#clickbutton {
    display: flex;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.answers {
    display: flex;
    flex-direction: column;
}

.answer-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.answer-button:hover {
    background-color: green;
}